<!doctype html>
<html lang='en' ng-app='myApp'>

<head>
    <meta charset="UTF-8">
    <title>Angular Basic Project</title>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src='js/controllers.js'></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class='main' ng-controller="MyController">

        <div class="search">
            <h1>Artist Search</h1>
            <label>search:</label>
            <input ng-model='query' placeholder="search below list" autofocus>

            <label class="formgroup">by:
                <select ng-model='artistOrder'>
                    <option value="name">Name</option>
                    <option value="reknown">Reknown</option>
                </select>
            </label>

            <label class="formgroup">
                <input type="radio" ng-model='direction' name='direction' checked>acsending
            </label>

            <label class="formgroup">
                <input type="radio" ng-model="direction" name='direction' value='reverse'>descending
            </label>
        </div>
        <ul class="artistlist">
            <li class='artist cf' ng-repeat='item in artists | filter: query | orderBy: artistORder:direction'>
                <img src="images/{{item.shortname}}_tn.jpg" alt="Photo of item.name">
                <div class="info">
                    <h2>{{item.name}}</h2>
                    <h3>{{item.reknown}}</h3>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>